<div layout="row" layout-sm="column" class="modular_content">
  <md-whiteframe
    class="md-whiteframe-z1" flex>
    <h3>Examples: <%= config.get('name') %>.</h3>
    <p>Write your examples and docs for this module here</p>
    <p style="font-size: 11px">This is a demo page for this module. This page is not part of the module project, but only meant to showcase your module's API. <a href="https://github.com/kosz/generator-modular/wiki/Anatomy-of-a-Module-Project">What does this mean ?</a></p>
  </md-whiteframe>
</div>
